<h1>Passing test <%= @passed_test.test.title %></h1>

<!-- https://www.w3schools.com/howto/howto_js_progressbar.asp -->
<div class="progress">
  <%= content_tag :div, id: 'passProgress',
                      class: 'bar',
                      data: { progress_percent: @passed_test.progress_percent } do %>
    <%= @passed_test.progress_percent %>%
  <% end %>
</div>

<%= content_tag :div, id: 'testTimer',
                      data: { end_time: @passed_test.end_time.httpdate } do %>
<% end %>

<p>
  question #<%= @passed_test.question_number %>
  of <%= @passed_test.test.questions.count %>
</p>

<p>
  <%= @passed_test.current_question.text %>
</p>

<%= form_with url: passed_test_path(@passed_test), id: 'answersForm', local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @passed_test.current_question.answers,
                                  :id,
                                  :text,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist question', gists_path(passed_test_id: @passed_test.id), method: :post %></P>
  <p><%= form.submit 'Next' %></p>
<% end %>
